RewriteEngine On

# Set the base directory for the project
RewriteBase /php-playground/

# Skip rewriting if the request is for an actual file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite everything else to the PHP script
RewriteRule ^shop(.*)$ index.php?path=$1 [QSA,L]